@import "../variables/global";
@import "../mixins/function";

.cradio { @extend %radio; }
.cradio.cradio--checked { @extend %radio--checked; }
.cradio.cradio--disabled { @extend %radio--disabled; }
.cradio__field { @extend %radio__field; }

%radio {
  position: relative;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  padding: 4px 0;
  color: rgb(51, 51, 51);
  font-size: 14px;
  line-height: 1.2em;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &::before,
  &::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 0;
    width: 1em;
    height: 1em;
    border-radius: 50%;
  }
  &::before {
    transform: translateY(-50%) translateZ(0);
    border: 2px rgb(52, 142, 199) solid;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    cursor: inherit;
  }

  &::after {
    transform: translateY(-50%) translateZ(0) scale(.1);
    transform-origin: center;
    background-color: rgb(52, 142, 199);
    opacity: 0;
    transition: background-color .2s ease-in-out,
                transform .15s ease-in-out,
                opacity .1s ease-in-out;
  }
}

%radio--checked {
  &::after {
    transform: translateY(-50%) translateZ(0) scale(.52);
    opacity: 1;
  }
}

%radio--disabled {
  color: rgba(0, 0, 0, .3);
  cursor: not-allowed;

  &::before {
    border: 2px rgba(0, 0, 0, .2) solid;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }
  &::after {
    background-color: rgba(0, 0, 0, .2);
  }
}

%radio__field {
  width: 1em;
  height: 1em;
  margin: 0 .25em 0 0;
  opacity: 0;
  font-size: inherit;
  cursor: inherit;
}