@import "../variables/global";
@import "../mixins/function";

.cspace { @extend %space; }
.cspace.cspace--wrap { @extend %space--wrap; }
.cspace.cspace--vertical { @extend %space--vertical; }
.cspace.cspace--vertical-wrap { @extend %space--vertical-wrap; }

$gap: var(--cspace-gap, 0 0);
$align: var(--cspace-align, start);
$width: var(--cspace-item-width, 60px);

%space {
  display: grid;
  grid-gap: $gap;
  place-items: start $align;
  grid-auto-flow: column;
}

%space--wrap {
  grid-auto-flow: inherit;
  grid-template-columns: repeat(auto-fit, minmax($width, auto));
}

%space--vertical {
  display: grid;
  grid-gap: $gap;
  grid-auto-flow: row;
  place-items: start $align;
}

%space--vertical-wrap {
  grid-auto-flow: row;
}
