@import "../variables/global";
@import "../mixins/function";

.cbutton { @extend %button; }
.cbutton.cbutton--danger { @extend %button--danger; }
.cbutton.cbutton--loading { @extend %button--loading; }
.cbutton.cbutton--disabled { @extend %button--disabled; }

$animation-before: unique-id();
$animation-after: unique-id();

%button {
  --box-shadow: initial;
  --border-color: initial;
  --hover-color: initial;
  --hover-background-color: initial;
  --color: initial;
  --background-color: initial;
  --cursor: initial;

  appearance: none;
  box-sizing: border-box;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: px2em(4px) px2em(16px);
  border: none;
  border-radius: px2em(4px);
  box-shadow: var(--box-shadow, $shadow-form);
  color: var(--color, white);
  background-color: var(--background-color, #{$color-primary});
  font-size: 14px;
  letter-spacing: px2em(1px);
  line-height: 1.2;
  transition: box-shadow .1s ease-in-out;
  user-select: none;
  overflow: hidden;
  cursor: var(--cursor, pointer);

  &::before {
    content: "\200b"
  }

  &:focus {
    outline: none;
  }

  &:hover {
    color: var(--hover-color, rgb(240, 240, 240));
    background-color: var(--hover-background-color, rgb(32, 123, 180));
  }

  &:active {
    color: rgb(231, 231, 231);
    box-shadow: inset 0 0 20px 2px rgba(241, 241, 241, .3);
  }
}

%button--danger {
  --border-color: #a31621;
  --hover-background-color: #c42936;
  --background-color: #e63946;
}

%button--loading {
  --cursor: wait;

  &::before,
  &::after {
    content: "\200b";
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    right: auto;
    width: auto;
    height: px2em(4px);
    background-color: var(--border-color, rgb(24, 99, 170));
    will-change: right left;
  }

  &::before {
    animation: #{$animation-before} 1.4s linear infinite forwards;
  }

  &::after {
    animation: #{$animation-after} 1.4s linear infinite forwards;
  }
}

%button--disabled {
  --box-shadow: #{$shadow-form-disabled};
  --border-color: rgb(189, 189, 189);
  --hover-color: #{$text-disabled};
  --hover-background-color: #{$color-inactive};
  --color: #{$text-disabled};
  --background-color: #{$color-inactive};
  --cursor: not-allowed;
}

@keyframes #{$animation-before} {
  0% { left: -90%; right: 100%; }
  60% { left: -90%; right: 100%; }
  100% { left: 100%; right: -35%; }
}

@keyframes #{$animation-after} {
  0% { left: -200%; right: 100%; }
  60% { left: 107%; right: -8%; }
  100% { left: 107%; right: -8%; }
}
