@import "../variables/global";
@import "../mixins/function";

.ccheckbox { @extend %checkbox; }
.ccheckbox.ccheckbox--disabled { @extend %checkbox--disabled; }

.ccheckbox__button { @extend %checkbox__button; }
.ccheckbox__button.ccheckbox__button--checked { @extend %checkbox__button--checked; }
.ccheckbox__button.ccheckbox__button--disabled { @extend %checkbox__button--disabled; }

.ccheckbox__field { @extend %checkbox__field; }

%checkbox {
  position: relative;
  box-sizing: border-box;
  display: inline-flex;
  align-items: flex-start;
  padding: .2858em 0;
  color: $text-color;
  font-size: 14px;
  line-height: 1.2;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

%checkbox--disabled {
  color: $text-disabled;
  filter: grayscale(80%);
  cursor: not-allowed;
}

%checkbox__button {
  position: relative;
  color: $color-primary;

  &::before,
  &::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 0;
    width: 1em;
    height: 1em;
  }

  &::before {
    transform: translateY(-50%) translateZ(0);
    border: .1429em currentColor solid;
    border-radius: .1429em;
    box-shadow: $shadow-form;
    cursor: inherit;
  }

  &::after {
    background-color: currentColor;
    opacity: 0;
    transform: translateY(-50%) translateZ(0) scale(.1);
    transform-origin: center;
    transition: background-color .2s ease-in-out,
                transform .15s ease-in-out,
                opacity .1s ease-in-out;
  }
}

%checkbox__button--checked {
  &::after {
    transform: translateY(-50%) translateZ(0) scale(.5);
    opacity: 1;
  }
}

%checkbox__button--disabled {
  color: $color-disabled;
  cursor: not-allowed;

  &::before {
    box-shadow: $shadow-form-disabled;
  }
}

%checkbox__field {
  width: 1em;
  height: 1em;
  margin: 0 .25em 0 0;
  font-size: inherit;
  opacity: 0;
  cursor: inherit;
}
