@import "../variables/global";
@import "../mixins/function";

.cflex { @extend %flex; }
.cflex.cflex--inline { @extend %flex--inline; }
.cflex.cflex--wrap { @extend %flex--wrap; }
.cflex.cflex--vertical { @extend %flex--vertical; }
.cflex.cflex--full { @extend %flex--full; }
.cflex.cflex--center { @extend %flex--center; }

$gap: var(--cflex-gap, 8px);
$align: var(--cflex-align, flex-start);
$justify: var(--cflex-justify, flex-start);

%flex {
  --display: initial;
  --width: initial;
  --flex-wrap: initial;
  --flex-direction: initial;
  --height: initial;
  --justify-content: initial;
  --align-items: initial;

  display: var(--display, flex);
  flex-direction: var(--flex-direction, initial);
  justify-content: var(--justify-content, #{$justify});
  align-items: var(--align-items, #{$align});
  flex-wrap: var(--flex-wrap, initial);
  gap: $gap;
  width: var(--width, 100%);
  height: var(--height, auto);

  & > * {
    flex: none;
  }
}

%flex--inline {
  --display: inline-flex;
  --width: auto;
}

%flex--wrap {
  --flex-wrap: wrap;
}

%flex--vertical {
  --flex-direction: column;
}

%flex--full {
  --height: calc(100% + #{$gap});
}

%flex--center {
  --justify-content: center;
  --align-items: center;
}
