@import "../variables/global";
@import "../mixins/function";

.cflex { @extend %flex; }
.cflex.cflex--inline { @extend %flex--inline; }
.cflex.cflex--wrap { @extend %flex--wrap; }

$gap: var(--cflex-gap, 8px);
$flow: var(--cflex-flow, row);
$align-content: var(--cflex-align-content, flex-start);
$justify-content: var(--cflex-justify-content, flex-start);
$align-items: var(--cflex-align-items, flex-start);
$justify-items: var(--cflex-justify-items, flex-start);
$align-self: var(--cflex-align-self, flex-start);
$justify-self: var(--cflex-justify-self, flex-start);

%flex {
  --cflex-gap: initial;
  --cflex-flow: initial;
  --cflex-align: initial;
  --cflex-justify: initial;

  --flex-wrap: initial;

  display: flex;
  flex-direction: $flow;
  align-content: $align-content;
  justify-content: $justify-content;
  align-items: $align-items;
  justify-items: $justify-items;
  align-self: $align-self;
  justify-self: $justify-self;
  flex-wrap: var(--flex-wrap, initial);
  gap: $gap;
  max-width: 100%;
  height: auto;

  & > * {
    flex: none;
  }
}

%flex--inline {
  display: inline-flex; /* should work with flex-gap-polyfill */
}

%flex--wrap {
  --flex-wrap: wrap;
}
