@import "../variables/global";
@import "../mixins/function";

.cform { @extend %form; }

.cform-item { @extend %form-item; }
.cform-item__label { @extend %form-item__label; }
.cform-item__field { @extend %form-item__field; }

$width: var(--cform-label-width, 80px);
$align: var(--cform-label-align, right);

%form {
  display: flex;
  flex-direction: column;
}

%form-item {
  display: flex;
  align-items: flex-start;
  margin: 6px 0;
}

%form-item__label {
  flex: none;
  width: $width;
  height: 24px;
  color: $text-color;
  font-size: 14px;
  line-height: 24px;
  text-align: $align;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

%form-item__field {
  position: relative;
  margin-left: 8px;
}

