@import "../variables/global";
@import "../mixins/function";

.cgrid { @extend %grid; }
.cgrid.cgrid--inline { @extend %grid--inline; }

$areas: var(--cgrid-areas);
$rows: var(--cgrid-rows);
$columns: var(--cgrid-columns);
$auto-rows: var(--cgrid-auto-rows);
$auto-columns: var(--cgrid-auto-columns);
$flow: var(--cgrid-flow);
$gap: var(--cgrid-gap, 0);
$align-content: var(--cgrid-align-content, stretch);
$justify-content: var(--cgrid-justify-content, stretch);
$width: var(--cgrid-width);
$height: var(--cgrid-height);
$padding: var(--cgrid-padding, 0);

.cgrid-item { @extend %grid-item; }

$item-area: var(--cgrid-item-area);
$item-align-items: var(--cgrid-item-align-items, flex-start);
$item-justify-items: var(--cgrid-item-justify-items, flex-start);
$item-padding: var(--cgrid-item-padding);

%grid {
  --cgrid-areas: initial;
  --cgrid-rows: initial;
  --cgrid-columns: initial;
  --cgrid-auto-rows: initial;
  --cgrid-auto-columns: initial;
  --cgrid-flow: initial;
  --cgrid-gap: initial;
  --cgrid-align-content: initial;
  --cgrid-justify-content: initial;
  --cgrid-width: initial;
  --cgrid-height: initial;
  --cgrid-padding: initial;

  --display: initial;

  display: var(--display, grid);
  grid-template-areas: $areas;
  grid-template-rows: $rows;
  grid-template-columns: $columns;
  grid-auto-rows: $auto-rows;
  grid-auto-columns: $auto-columns;
  grid-auto-flow: $flow;
  grid-gap: $gap;
  align-content: $align-content;
  justify-content: $justify-content;
  width: $width;
  height: $height;
  padding: $padding;
}

%grid--inline {
  --display: inline-grid;
}

%grid-item {
  --cgrid-item-area: initial;
  --cgrid-item-align-items: initial;
  --cgrid-item-justify-items: initial;
  --cgrid-item-padding: initial;

  display: grid;
  grid-area: $item-area;
  align-items: $item-align-items;
  justify-items: $item-justify-items;
  padding: $item-padding;
}
