@import "../variables/global";
@import "../mixins/function";

.cgrid { @extend %grid; }
.cgrid.cgrid--inline { @extend %grid--inline; }

$areas: var(--cgrid-areas);
$rows: var(--cgrid-rows);
$columns: var(--cgrid-columns);
$auto-rows: var(--cgrid-auto-rows);
$auto-columns: var(--cgrid-auto-columns);
$flow: var(--cgrid-flow);
$gap: var(--cgrid-gap, 0);
$place-content: var(--cgrid-place-content, stretch);
$width: var(--cgrid-width);
$height: var(--cgrid-height);
$padding: var(--cgrid-padding, 0);

.cgrid-item { @extend %grid-item; }

$item-area: var(--cgrid-item-area);
$item-place-items: var(--cgrid-item-place-items, flex-start);
$item-padding: var(--cgrid-item-padding);

%grid {
  --cgrid-areas: initial;
  --cgrid-rows: initial;
  --cgrid-columns: initial;
  --cgrid-auto-rows: initial;
  --cgrid-auto-columns: initial;
  --cgrid-flow: initial;
  --cgrid-padding: initial;
  --cgrid-gap: initial;

  --display: initial;

  display: var(--display, grid);
  grid-template-areas: $areas;
  grid-template-rows: $rows;
  grid-template-columns: $columns;
  grid-auto-rows: $auto-rows;
  grid-auto-columns: $auto-columns;
  grid-auto-flow: $flow;
  grid-gap: $gap;
  place-content: $place-content;
  width: $width;
  height: $height;
  padding: $padding;
}

%grid--inline {
  --display: inline-grid;
}

%grid-item {
  --cgrid-item-area: initial;

  display: grid;
  grid-area: $item-area;
  place-items: $item-place-items;
  padding: $item-padding;
}
