@import "../variables/global";
@import "../mixins/function";

.cgrid { @extend %grid; }
.cgrid.cgrid--inline { @extend %grid--inline; }

$grid-areas: var(--cgrid-areas);
$grid-rows: var(--cgrid-rows);
$grid-columns: var(--cgrid-columns);
$grid-auto-rows: var(--cgrid-auto-rows);
$grid-auto-columns: var(--cgrid-auto-columns);
$grid-flow: var(--cgrid-flow);
$grid-gap: var(--cgrid-gap, 0);

.cgrid-item { @extend %grid-item; }

$grid-item-area: var(--cgrid-item-area);

%grid {
  display: grid;
  grid-template-areas: $grid-areas;
  grid-template-rows: $grid-rows;
  grid-template-columns: $grid-columns;
  grid-auto-rows: $grid-auto-rows;
  grid-auto-columns: $grid-auto-columns;
  grid-auto-flow: $grid-flow;
  grid-gap: $grid-gap;
  width: 100%;
  height: 100%;
}

%grid--inline {
  display: inline-grid;
}

%grid-item {
  grid-area: $grid-item-area;
}
