@import "../variables/global";
@import "../mixins/function";

.cicon { @extend %icon; }
.cicon.cicon--spin { @extend %icon--spin; }
.cicon.cicon--link { @extend %icon--link; }

$color: var(--cicon-color, inhert);
$size: var(--cicon-size, 14px);

$animation: unique-id();

%icon {
  --animation: initial;
  --cursor: initial;

  display: inline-flex;
  align-items: center;
  animation: var(--animation, unset);
  cursor: var(--cursor, inhert);

  // aligns svg/image/font icon with text
  // https://zhuanlan.zhihu.com/p/30624268
  &::before {
    content: '\200b'
  }

  & > svg {
    color: $color;
    font-size: $size;
  }
}

%icon--spin {
  --animation: #{$animation} .85s linear infinite;
}

%icon--link {
  --cursor: pointer;
}

@keyframes #{$animation} {
  100% {
    transform: rotate(1turn);
  }
}
