@import "../variables/global";
@import "../mixins/function";

.cinput { @extend %input; }

.cinput__prepend { @extend %input__prepend; }

.cinput__wrapper { @extend %input__wrapper; }

.cinput__field { @extend %input__field; }
.cinput__field.cinput__field--readonly { @extend %input__field--readonly; }
.cinput__field.cinput__field--disabled { @extend %input__field--disabled; }

.cinput__clear { @extend %input__clear; }

.cinput__append { @extend %input__append; }

%input {
  position: relative;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  width: 100%;
  overflow: hidden;
}

%input__prepend,
%input__append {
  flex: none;
  align-self: stretch;
  display: flex;
  align-items: center;
  padding: 0 8px;
  line-height: 100%;
}

%input__wrapper {
  flex: auto;
  position: relative;
  display: flex;
  align-items: center;
}

%input__field {
  appearance: none;
  box-sizing: border-box;
  flex: 1;
  width: 100%;
  min-width: 0;
  max-width: 100%;
  height: 100%;
  padding: 4px 8px;
  border: none;
  color: rgb(51, 51, 51);
  font-size: 14px;
  line-height: 1.2em;

  &::placeholder {
    color: rgb(175, 175, 175);
  }

  &:focus {
    outline: none;
  }
}

%input__field--readonly {
  color: rgba(0, 0, 0, .3);
}

%input__field--disabled {
  color: rgba(0, 0, 0, .2);
  background-color: rgb(235, 235, 235);
  cursor: not-allowed;
}

%input__clear {
  flex: none;
  display: flex;
  align-items: center;
  padding-right: 8px;
  color: rgb(212, 212, 212);
  font-size: 12px;
  cursor: pointer;

  &:hover {
    color: rgb(136, 136, 136);
  }
}
