@import "../variables/global";
@import "../mixins/function";

.cpanel { @extend %panel; }
.cpanel__header { @extend %panel__header; }
.cpanel__icon { @extend %panel__icon; }
.cpanel__title { @extend %panel__title }
.cpanel__body { @extend %panel__body; }

%panel {
  width: 100%;
  border-radius: 2px;
  box-shadow: $shadow-form;
  color: $text-color;
  background-color: white;
}

%panel__header {
  display: flex;
  align-items: center;
  height: 22px;
  padding: 0 8px;
  background-color: rgba(200, 202, 208, 0.5);
  font-size: 14px;
  user-select: none;
  cursor: pointer;

  &:hover {
    background-color: rgba(200, 202, 208, 0.4);
  }

  &:active {
    background-color: rgba(200, 202, 208, 0.6);
  }
}

%panel__icon {
  margin-right: 8px;
}

%panel__title {

}

%panel__body {

}
