@import "../variables/global";
@import "../mixins/function";

.cradio { @extend %radio; }
.cradio.cradio--checked { @extend %radio--checked; }
.cradio.cradio--disabled { @extend %radio--disabled; }

.cradio__button { @extend %radio__button; }
.cradio__field { @extend %radio__field; }

%radio {
  --border-color: initial;
  --box-shadow: initial;
  --color: initial;
  --transform: initial;
  --filter: initial;
  --cursor: initial;
  --opacity: initial;

  position: relative;
  box-sizing: border-box;
  display: inline-flex;
  align-items: flex-start;
  padding: px2em(4px) 0;
  color: var(--color, #{$text-color});
  font-size: 14px;
  line-height: 1.2;
  cursor: var(--cursor, pointer);
  filter: var(--filter, unset);

  &:focus {
    outline: none;
  }
}

%radio--checked {
  --transform: translateY(-50%) translateZ(0) scale(.52);
  --opacity: 1;
}

%radio--disabled {
  --border-color: #{$color-disabled};
  --color: #{$text-disabled};
  --filter: grayscale(80%);
  --cursor: not-allowed;
}

%radio__button {
  position: relative;
  color: var(--border-color, #{$color-primary});
  cursor: inherit;
  font-size: inherit;

  &::before,
  &::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 0;
    width: 1em;
    height: 1em;
    border-radius: 50%;
  }

  &::before {
    transform: translateY(-50%) translateZ(0);
    border: px2em(2px) currentColor solid;
    box-shadow: var(--box-shadow, #{$shadow-form});
    cursor: inherit;
  }

  &::after {
    background-color: currentColor;
    opacity: var(--opacity, 0);
    transform: var(--transform, translateY(-50%) translateZ(0) scale(.1));
    transform-origin: center;
    transition: background-color .2s ease-in-out,
                transform .15s ease-in-out,
                opacity .1s ease-in-out;
  }
}

%radio__field {
  width: 1em;
  height: 1em;
  margin: 0 .25em 0 0;
  font-size: inherit;
  opacity: 0;
  cursor: inherit;
}