@import "../variables/global";
@import "../mixins/function";

.cslider { @extend %slider; }
.cslider--disabled { @extend %slider--disabled; }

.cslider__prepend { @extend %slider__prepend; }
.cslider__field { @extend %slider__field; }
.cslider__thumb { @extend %slider__thumb; }
.cslider__append { @extend %slider__append; }

$offset: var(--cslider-thumb-offset, 0);

%slider {
  --cslider-thumb-offset: initial;

  --box-shadow: initial;
  --inactive-color: initial;
  --color: initial;
  --background-offset: initial;
  --background-color: initial;
  --cursor: initial;

  position: relative;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  width: 100%;
  font-size: 14px;
  line-height: 1.2;

  &::before {
    content: "\200b";
  }
}

%slider--disabled {
  --box-shadow: #{$shadow-form-disabled};
  --inactive-color: #{$color-inactive};
  --background-color: #{$color-disabled};
  --cursor: not-allowed;
}

%slot {
  flex: none;
  display: flex;
  align-items: center;
  align-self: stretch;
  font-size: 14px;
  line-height: 100%;
}

%slider__prepend {
  @extend %slot;
  padding-right: px2em(8px);
}

%slider__append {
  @extend %slot;
  padding-left: px2em(8px);
}

%slider__field {
  flex: auto;
  position: relative;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  margin: 0 .5em;
  color: var(--color, #{$color-primary});
  border-radius: px2em(100px);
  background: linear-gradient(to right, var(--background-color, #{$color-primary}) $offset, var(--inactive-color, #{$color-disabled}) $offset);
  cursor: var(--cursor, pointer);
}

%slider__thumb {
  position: relative;
  width: px2em(.5px);
  height: px2em(4px);
  transform: translateX($offset);
  color: var(--background-color, #{$color-primary});
  cursor: var(--cursor, pointer);

  &::before,
  &::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 0;
    user-select: none;
  }

  &::before {
    left: .5em;
    transform: translate(-50%, -50%);
    width: 1.5em;
    height: px2em(4px);
    border-radius: px2em(100px);
    background-color: currentColor;
  }

  &::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateZ(0);
    width: 1em;
    height: 1em;
    border-radius: 50%;
    border: px2em(2px) currentColor solid;
    box-shadow: var(--box-shadow, #{$shadow-form});
    transition: transform .1s ease-in-out,
                background-color .1s ease-in-out;
    cursor: inherit;
  }
}
