@import "../variables/global";
@import "../mixins/function";

.cslider { @extend %slider; }

.cslider__prepend { @extend %slider__prepend; }

.cslider__field { @extend %slider__field; }
.cslider__field--disabled { @extend %slider__field--disabled; }

.cslider__thumb { @extend %slider__thumb; }
.cslider__thumb--disabled { @extend %slider__thumb--disabled; }

.cslider__append { @extend %slider__append; }

$offset: var(--cslider-thumb-offset, 0);

%slider {
  position: relative;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  height: 24px;
  width: auto;
  font-size: 14px;
}

%slider__prepend,
%slider__append {
  flex: none;
  align-self: stretch;
  display: flex;
  align-items: center;
  line-height: 100%;
}

%slider__prepend {
  padding-right: 8px;
}

%slider__append {
  padding-left: 8px;
}

%slider__field {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  width: 100%;
  min-width: 160px;
  margin: 0 .6em;
  border-radius: 200px;
  color: rgb(52, 142, 199);
  background: linear-gradient(to right, currentColor $offset, #c7c7c7 $offset);
  line-height: 1.2em;
  cursor: pointer;
}

%slider__field--disabled {
  color: rgb(193, 193, 193);
  background: linear-gradient(to right, currentColor $offset, #e7e7e7 $offset);
  cursor: not-allowed;
}

%slider__thumb {
  position: relative;
  width: .5px;
  height: 4px;
  transform: translateX($offset);
  color: rgb(52, 142, 199);
  cursor: inherit;

  &::before,
  &::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 0;
    user-select: none;
  }

  &::before {
    left: .5em;
    transform: translate(-50%, -50%);
    width: 1.5em;
    height: 4px;
    border-radius: 200px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    background-color: currentColor;
  }

  &::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateZ(0);
    width: 1em;
    height: 1em;
    border-radius: 50%;
    border: 2px currentColor solid;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    transition: transform .1s ease-in-out,
                background-color .1s ease-in-out;
    cursor: inherit;
  }
}

%slider__thumb--disabled {
  color: rgb(193, 193, 193);
  cursor: not-allowed;
}