@import "../variables/global";
@import "../mixins/function";

.cspace { @extend %space; }
.cspace.cspace--inline { @extend %space--inline; }
.cspace.cspace--wrap { @extend %space--wrap; }
.cspace.cspace--vertical { @extend %space--vertical; }
.cspace.cspace--fill { @extend %space--fill; }
.cspace.cspace--center { @extend %space--center; }

$gap: var(--cspace-gap, 8px);
$align: var(--cspace-align, flex-start);
$justify: var(--cspace-justify, flex-start);

%space {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
  width: 100%;

  & > * {
    flex: none;
  }
}

%space--inline {
  display: inline-flex;
  width: unset;
}

%space--wrap {
  flex-wrap: wrap;
}

%space--vertical {
  flex-direction: column;
}

%space--fill {
  height: calc(100% + #{$gap});
  width: calc(100% + #{$gap});
}

%space--center {
  justify-content: center;
  align-items: center;
}
