@import "../variables/global";
@import "../mixins/function";

.ctoast { @extend %toast; }
.ctoast__icon { @extend %toast__icon; }
.ctoast__content { @extend %toast__content; }

$width: var(--ctoast-top);

$toast-in: unique-id();
$toast-out: unique-id();

%toast {
  --ctoast-top: initial;

  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, $width);
  display: flex;
  min-width: 200px;
  max-width: 500px;
  padding: 8px 16px;
  border-radius: 4px;
  box-shadow: $shadow-overlay;
  color: $text-color;
  background-color: white;
  font-size: 14px;
  line-height: 1.2;
  z-index: 600;
}

%toast__icon {
  margin-right: .5em;
}

%toast__content {
  
}

// vue-transition
.ctoast-enter-active {
  animation: #{$toast-in} .2s ease-in-out;
}
.ctoast-leave-active {
  animation: #{$toast-out} .2s ease-in-out;
}

@keyframes #{$toast-in} {
  0% {
    box-shadow: none;
    transform: translate3d(-50%, -100%, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(-50%, $width, 0);
    opacity: 1;
  }
}

@keyframes #{$toast-out} {
  0% {
    transform: translate3d(-50%, $width, 0);
    opacity: 1;
  }
  100% {
    box-shadow: none;
    transform: translate3d(-50%, -100%, 0);
    opacity: 0;
  }
}
