@import "../variables/global";
@import "../mixins/function";

.ctooltip { @extend %tooltip; }
.ctooltip__slot { @extend %tooltip__slot; }

%tooltip {
  display: inline-flex;
  align-items: center;
  width: auto;
  max-width: 160px;
  padding: 4px 16px;
  border-radius: 4px;
  box-shadow: $shadow-overlay;
  color: white;
  background-color: rgb(47, 49, 55);
  font-size: 14px;
  line-height: 1.2em;
  z-index: 100;
  pointer-events: none;
}

%tooltip__slot {
  display: inline-block;
}

// vue-transition

.tooltip-enter-active,
.tooltip-leave-active {
  position: absolute;
  transition: opacity 0.5s ease;
}
.tooltip-enter-from,
.tooltip-leave-to {
  opacity: 0;
}