@import "../variables/global";
@import "../mixins/function";

.ctooltip { @extend %tooltip; }
.ttooltip__content { @extend %tooltip__content; }

%tooltip {
  display: inline-flex;
  pointer-events: none;
  z-index: 100;
}

%tooltip__content {
  display: flex;
  align-items: center;
  max-width: 160px;
  padding: 4px 16px;
  border-radius: 4px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  color: white;
  background-color: rgb(47, 49, 55);
  font-size: 14px;
  line-height: 1.2em;
}

.ctooltip-enter-active {
  transition: all .3s ease-out;
}
.ctooltip-leave-active {
  transition: all .4s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

[data-popper-placement*="top"] {
  .ctooltip-enter-from,
  .ctooltip-leave-to {
    transform: translateY(10px);
    opacity: 0;
  }
}

[data-popper-placement*="right"] {
  .ctooltip-enter-from,
  .ctooltip-leave-to {
    transform: translateX(-10px);
    opacity: 0;
  }
}

[data-popper-placement*="bottom"] {
  .ctooltip-enter-from,
  .ctooltip-leave-to {
    transform: translateY(-10px);
    opacity: 0;
  }
}

[data-popper-placement*="left"] {
  .ctooltip-enter-from,
  .ctooltip-leave-to {
    transform: translateX(10px);
    opacity: 0;
  }
}
